* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}

html {
    font-size: 16px;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue100);
}

header {
    height: 80px;
    width: 100dvw;
    display: flex;
    align-items: center;
    background-color: var(--blue95);
}

.capa-Logo {
    height: 41px;
    width: 215px;
    margin-left: 140px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding: 0 123px;
}



H1 {
    padding: 98px 0 123px 0px;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}

.photo-overview {
    max-width: 1194px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: auto;
    height: 128px;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    background-color: var(--blue95);
    border-radius: 84% 84% 0 0 / 56% 56% 0 0;
}

footer>address>div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
}

footer>address>div>p {
    text-align: center;
}

footer>address>P {
    color: rgb(160, 160, 160);
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    padding-bottom: 15px;
}

.footer-Logo {
    width: 80px;
}


@media screen and (min-width: 1280px) and (max-width:1439px) {}

@media screen and (min-width: 1440px) {
    main {
        padding: 0 max(123px, calc(50% - 720px));
    }
}

@media screen and (min-width: 769px) and (max-width:1279px) {
    main {
        padding: 0 110px;
    }

    .photo-overview {
        gap: 25px;
        overflow-y: auto;
        padding-bottom: 47px;
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    H1 {
        padding: 54px 0 81px 0;
        font-size: 3rem;
    }

    header {
        justify-content: center;
    }

    .capa-Logo {
        margin-left: 0px;
    }

    main {
        padding: 0 60px;
    }

    .photo-overview {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow-y: auto;
        padding-bottom: 47px;
    }
}

@media screen and (min-width: 300px) and (max-width:480px) {
    header {
        justify-content: center;
    }

    main {
        padding:0;
    }

    .capa-Logo {
        margin-left: 0px;
    }

    .photo-overview {
        gap: 16px;
        overflow-y: auto;
        padding-bottom: 47px;
    }

    H1 {
        padding: 54px 0 56px 0;
        font-size: 2.5rem;
    }
}