:root {
    --red40: #FD5B4F;
    --blue95: #09212A;
    --blue40: #6BC1E1;
    --blue85: #124658;
    --gray30: ;
    --blue90: ;
    --blue100: #06171E;
    --red50: ;
    --grey40: ;
    --HELLBLAU: #50B4FF;
    --HELLTÜRKIS: display: flex;;
    --TÜRKIS: #00AFAA;
    --ORANGE: #FFA014;
}